<% if find_sender(message).image.exists? %>
  <div class="convo-picture col-md-2">
    <%= link_to user_path(find_sender(message)) do %>
      <%= image_tag find_sender(message).image.url(:standard), :class => "img-circle team-img xsmall-icon" %>
    <% end %>
  </div>
<% end %>
<div class="col-md-10 convo-body">
  <%= message.content %><br>
  <%= display_date(message) %>
</div>

