<%= form_for @message, :class => "new-message-form", remote: true, url: conversation_messages_path(@conversation) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, :placeholder => "Message", :autocomplete => :off, :class => "content-text-field review-textarea" %>
  </div>
  <button type="submit" class="btn tf-btn btn-default user-review-button">Send</button>
<% end %>
