<% if @conversation.messages.exists? %>
  <table>
    <tr>
      <td>Sender</td>
      <td>Message</td>
    </tr>
    <% @conversation.messages.each do |message| %>
      <tr>
        <td><%= find_sender_name(message) %></td>
        <td><%= message.content %></td>
      </tr>
    <% end %>
  </table>
<% end %>
