<li class="list-element"><strong>Studio: <%=booking.availability.studio.name %> </strong></li>
<li class="list-element">Start Time: <%=booking.pretty_print_start_time %> </li>
<li class="list-element">End Time: <%=booking.pretty_print_end_time %> </li>
