<% if current_user == @user %>



<div id="tf-search" class="text-center search-results">
  <div class="overlay">
    <div class="content">
      <h1>Edit Your <strong><span class="color">Profile</span></strong></h1>
      <%= link_to "Back to Profile", user_path(current_user) %>
    </div>
  </div>
</div>

<%= render 'form' %>

<script type="text/javascript">
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  toastr.error("<%= error %>")
<% end %>
    <% end %>
</script>
<% end %>
