<script type="text/javascript">
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  	toastr.error("<%= error %>")
	<% end %>
<% end %>
</script>

<h1>Register</h1>

<%= render 'form' %>

