<script>
  ga('create', {
    trackingId: 'UA-75060790-1',
    cookieDomain: 'auto',
    'name': 'submitStudioForm'
  });

  document.addEventListener("submit", '#signup-form', function(event) {
    event.preventDefault();
    ga('send', 'event', 'Studio Sign Up', 'submit', {
        hitCallBack:function() {
        form.submit();
    }
  });
  });
</script>


<script type="text/javascript">
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  	toastr.error("<%= error %>")
	<% end %>
<% end %>
</script>

<h1>Register</h1>
<div id="signup-form">
  <%= render 'form' %>
</div>
