<script>
  ga('create', {
    trackingId: 'UA-75060790-1',
    cookieDomain: 'auto',
    'name': 'submitStudioForm'
  });

  document.addEventListener("submit", '#signup-form', function(event) {
    event.preventDefault();
    ga('send', 'event', 'Studio Sign Up', 'submit', {
        hitCallBack:function() {
        form.submit();
    }
  });
  });
</script>


<script type="text/javascript">
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  	toastr.error("<%= error %>")
	<% end %>
<% end %>
</script>

<div id="tf-search" class="text-center search-results">
  <div class="overlay">
    <div class="content">
      <h1><strong><span class="color">Register</span></strong></strong></h1>
    </div>
  </div>
</div>



<div id="signup-form">
  <%= render 'form' %>
</div>






















