<h1>SHOWIN DA USER</h1>

<% if logged_in? %>
	<p>Hello <%= current_user.first_name %>!</p>
<% end %>

<p>Preferred Music Styles: <%=@user.genres %></p>
<p>Reviews: </p>

<% @user.reviews.each do |review| %>
	<%= render partial: "reviews/review", locals: {review: review } %>
<% end %>


<p>Your Average Rating: <%=@user.average_rating  %> </p>

