.col-md-4.lead.conversation-text {
  color: #5A5A5A;
  margin-top: 20px;
  margin-right: 10px;
}

.username-text {
  font-weight: bold;
}

a.fa.fa-trash {
  margin-left: 20px;
}

.content.messages-header {
  padding-top: 8%;
}

.right {
  width: 25%;
  background-color: #CFCFCF;
  border-radius: 16px;
  margin-left: 48%;
  margin-bottom: 6px;
}

.left {
  width: 25%;
  background-color: #FCAC45;
  border-radius: 16px;
  margin-left: 35%;
  margin-bottom: 6px;
}

#messages-list {
  margin-top: 6px;
}

.img-circle.team-img.xsmall-icon {
  width: 50px;
  height: 50px;
}
