.content.header-profile {
  padding-top: 2%;
}

.list-element {
  list-style-type: none;
  font-size: 21px;
  line-height: 33px;
}

.studio-info {
  overflow: scroll;
}

.col-md-6.border-left.details-left {
  overflow: scroll;
}

.col-md-6.border-left.details-right {
  overflow: scroll;
}

.section-title.description {
  height: 425px;
}

#no-hover-studio {
  float: none;
  margin-top: 10px;
}
