textarea#review_content::-webkit-input-placeholder {
  color: #696969;
  width: 315px;
  height: 100px;
}

textarea#review_content.review-textarea {
  color: #696969;
  font-size: 18px;
  padding-top: 2px;
  width: 315px;
  height: 100px;
}

.content.studio-details-content {
  padding-top: 80px;
}

.form-group.studio-description textarea {
  color: #696969;
}

.row.review-row {
  border-bottom: solid 1px grey;
  margin-bottom: 24px;
  min-height: 130px;
}

.review-style.body {
  display: inline-block;
  letter-spacing: 1px;
  line-height: 35px;
}

.review-style.user {
  text-align: center;
}

.review-style {
  display: inline-block;
  text-align: left;
  font-size: 19px;
}

.img-circle.team-img.small-icon {
  width: 85px;
  height: 85px;
}

.details-header.user-details-content {
  display: inline-block;
  margin-left: 21%;
  margin-right: 18%;
}

#soundcloud {
  width: 100%;
}

button.btn.tf-btn.btn-default.user-review-button {
  margin-right: 6%;
}















