html {
  overflow: hidden;
}

.content.show-page-content {
  padding: 3% 0 0;
}

.studio-cal-container.show-page-cal {
  width: 100%;
  margin: 2% 4% 0 0;
  float: right;
}

#wrapper-show {
  width: 100%;
  margin: 0 auto;
}

#sidebar-show{
  margin-top: 2%;
  float: right;
  width: 400px;
}

#sidebar-show #map {
  width: 400px;
  height: 600px;
}


.section-title.center.show-map {
  width: 199%;
}

#tf-map {
  background-color: #2B2B2B;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}

#tf-map.overlay {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: 400px;
  background-attachment: fixed;
}

.container.studio-details {
  width: 100%;
}

.section-title.description {
  width: 83%;
  margin: auto 149px;
  display: table;
}

.studio-cal-container.show-page-cal {
  margin-left: 5%;
  float: left;
  width: 90%;
  margin-top: -2%;
}

.show-page-button.btn.tf-btn.btn-default {
  float: left;
  margin-right: 3%;
}

.large-icon.img-circle.team-img {
  height: 200px;
  width: 200px;
}

.details-header {
  display: inline-block;
  margin-left: 21%;
  margin-right: 7%;
}

.map-container {
  margin-top: 8%;
  display: inline-block;
  width: 50%;
}

.map-header {
  display: inline-block;
}

.studio-info {
  margin-bottom: 30px;
}

input.btn.tf-btn.btn-default.login-partial-button {
  margin-top: 1%;
}

@media screen and (max-width: 1299px) {
.map-container {
  display:none;
}
.details-header {
  margin-left: 10%;
}
}

@media screen and (max-width: 989px) {
  #map {
  display:none;
  }

  div#studio-list {
    margin:0 auto;
  }

  #search-results-media {
    padding: 20% 0 0;
  }

  .search-input {
  width: 60%
  }
}

@media (max-width: 767px) {
  #map {
  display:none;
  }

  div#studio-list {
    margin:0 auto;
  }

  #search-results-media {
    padding: 20% 0 0;
  }
}

