<div id="new-review">
  <%= form_for [@studio, @review], remote: true do |f|  %>
    <div class="form-group studio-description">
      <%= f.text_area :content, :placeholder => "Write your review", :autocomplete => :off, :class => "review-textarea"  %>
    </div>
    <button type="submit" class="btn tf-btn btn-default">Create Review
    </button>
  <% end %>
</div>



