<h1>These are all the studios that you searched for!</h1>

<form id="location-search" action="/studios", method: "get">
  <input name="search" type="text" placeholder="Search for a studio">
  <input type="submit" value="search">
</form>

<div id="map-container">
  <div id="map"></div>
</div>

<section>

</section>

<% if @studios %>
  <div id="studio-list">
    <% @studios.each do |studio| %>
      <%= render partial: "studios/studio", locals: { studio: studio } %>
    <% end %>
  </div>
<% end %>






