<h1>This is where you create new studios</h1>

<%= render 'form' %>


<script type="text/javascript">
<% if @studio.errors.any? %>
    <% @errors.each do |error| %>
      toastr.error("<%= error %>")
    <% end %>
  <% end %>
  </script>


