<div id="tf-search" class="text-center search-results">
  <div class="overlay">
    <div class="content">
      <h1>List Your <strong><span class="color">Studio</span></strong></h1>
    </div>
  </div>

<div class="studio-sign-up-form">
  <%= render 'form' %>
</div>

<script type="text/javascript">
  <% if @studio.errors.any? %>
    <% @errors.each do |error| %>
      toastr.error("<%= error %>")
    <% end %>
  <% end %>
</script>


