<h1>New availabilities here!</h1>
<div>
<p>
  <%=link_to 'Create Availability', new_studio_availability_path(@studio), :id => 'new_event' %>
</p>
  <div id='calendar'>
  </div>
</div>
<div id = "desc_dialog" class="dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
 <!--    <span id = "edit_event"></span> -->
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" class="dialog" style ="display:none;">
  <div id = "create_event">
  </div>
  <div id="studio_path" data-address="/studios/<%= @studio.id %>/availabilities"></div>
</div>
