<div id="tf-search" class="text-center search-results">
  <div class="overlay">
    <div class="content">
      <h1>Set Your <strong><span class="color">Availabilities</span></strong></h1>
      <strong class="lead"><%= link_to "Back to Studio", studio_path(@studio) %></strong>
    </div>
  </div>
</div>

<div class="cal-instructions">
  <p>Click and drag to create an availability<p>
  <p>The availability will be saved automatically<p>
</div>

<div id="calendar-holder">
  <div id='calendar'>
  </div>
</div>
<div id = "desc_dialog" class="dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
 <!--    <span id = "edit_event"></span> -->
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" class="dialog" style ="display:none;">
  <div id = "create_event">
  </div>
  <div id="studio_path" data-address="/studios/<%= @studio.id %>/availabilities" data-id="<%= @studio.id %>"></div>

</div>
